{% extends 'base.html' %}

{% block content %}

<h1>
  <a class="nav-link" href="{{url_for('home.agenda/', year=prev_year, month=prev_month)}}">Previous Month</a>
  {{ today.month }} | {{ today.year }}
  <a class="nav-link" href="{{url_for('home.agenda/', year=next_year, month=next_month)}}">Next Month</a>
</h1>

<ul class="weekdays">
  <li>MONDAY</li>
  <li>TUESDAY</li>
  <li>WEDNESDAY</li>
  <li>THURSDAY</li>
  <li>FRIDAY</li>
  <li>SATURDAY</li>
  <li>SUNDAY</li>
</ul>


<ul class="days">
  {% for day in days %}
    <li>{{day}}</li>

    {% for appt in monthappts %}
      {% if appt == day %}
        <div>{{ appt.appointment }}
              {{ appt.location }}
              {{ appt.date }}
              {{ appt.time }}
        </div>
      {% endif %}
    {% endfor %}

  {% endfor %}
</ul>


{% endblock %}
