{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h2 class="title">Login</h2>
  <form class="form-signin" method="POST" action="/{{ url_for('home.login') }}">
    <div class="form-control">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter username"
      />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
  <button class="btn btn-lg btn-primary btn-block">Login</button>
</form>
</div>


{% endblock %}
