{% extends "base.html" %}


{% block content %}
<div class="formwrapper">
  <h2 class="title">Register</h2>
  <form method="POST" action="{{ url_for('home.register') }}">
      <div class="form-field">
        {{ form.username.label }}
        {{ form.username(size=20) }}
      </div>
      <div class="form-field">
        {{ form.email.label }}
        {{ form.email }}
      </div>
      <div class="form-field">
        {{ form.password.label }}
        {{ form.password }}
      </div>
      <div class="form-field">
        {{ form.repeatpassword.label }}
        {{ form.repeatpassword }}
      </div>
      {{ form.submit }}
  </form>
</div>


{% endblock %}
